$lineSpace: 6.5%;
.form {
    .form-box {
        background: #fff;
        padding: 3.5em 1em 2em 1em;
        .custom-section{
            margin-bottom: 1em;
            // width: 18em;
            .form-group{
                .form-container {
                    margin-bottom: 1em;
                    label {
                        padding-left: .5em;
                        text-transform: uppercase;
                        margin-bottom: .3em;
                    }
                    .form-select, .form-input, .form-area {
                        border: 1px solid red;
                        border-radius: 0;
                        width: 100%;
                        background: white;
                        text-align: left;
                    }
                    .form-area {
                        resize: none;
                        height: 80px;
                        padding: 5px 10px;
                    }
                    .custom-radio-group {
                        display: flex;
                        .btn {
                            border-radius: 0;
                            border: solid 1px red;
                            color: black;
                            background: #fff;
                        }
                        .btn-primary.active {
                            background: red;
                            color: #fff;
                        }
                        .btn-primary:focus, .btn:focus, .btn-primary.focus {
                            box-shadow: 0 0 0 0 !important;
                        }
                        .focus {
                            box-shadow: 0 !important;
                        }
                    }
                }
            }
            .title-container {
                margin-bottom: 2em;
                .custom-section-title, .custom-section-subtitle {
                    text-align: center;
                }
                .custom-section-title {
                    font-family: 'Playfair Display', serif;
                    font-weight: bold;
                    font-style: italic;
                    font-size: 34px;
                    color: red;
                }
                .custom-section-subtitle {
                    text-transform: uppercase;
                    font-size: 13px;
                    display: block;
                }
            }
            .accept-conditions {
                .btn-container{
                    text-align: center;
                    padding: 1.5em 0;
                    .btn-send {
                        background: #fff;
                        border: solid 1px red;
                        padding: .3em 2em;
                    }
                }
            }
        }
    }
}

@media (min-width:768px) {
    .form {
        width: 95%;
        margin: 0 auto;
    }
    .form .form-box .custom-section .form-group {
        display: flex;
        flex-wrap: wrap;
    }
    .form .form-box .custom-section .form-group .form-container .form-area {
        height: 165px;
    }

    .form .form-box .custom-section .title-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form .form-box .custom-section .title-container .custom-section-title {
        display: table;
        white-space: nowrap;
    }
    .form .form-box .custom-section .title-container .custom-section-title:before, .form .form-box .custom-section .title-container .custom-section-title:after{
        border-top: 1px solid red;
        content: '';
        display: table-cell;
        position: relative;
        top: 0.5em;
        width: 32%;
    }
    .form .form-box .custom-section .title-container .custom-section-title:after {
        left: $lineSpace;
    }
    .form .form-box .custom-section .title-container .custom-section-title:before{
        right: $lineSpace;
    }

    .form .form-box .accept-conditions {
        display: flex;
        .btn-container {
            text-align: right !important;
            padding: 0 15px !important;
        }
    }
}

@media (min-width:1024px) {
    .form {
        width: 74%;
    }
}