.form {
    .form-box {
        background: #fff;
        padding: 4em 1em 2em 1em;
        .custom-section{
            margin-bottom: 1em;
            // width: 18em;
            .form-group{
                .form-container {
                    margin-bottom: 1em;
                    label {
                        padding-left: .5em;
                        text-transform: uppercase;
                        margin-bottom: .3em;
                    }
                    .form-select, .form-input, .form-area {
                        border: 1px solid red;
                        border-radius: 0;
                        width: 100%;
                        background: white;
                        text-align: left;
                    }
                    .form-area {
                        resize: none;
                        height: 80px;
                        padding: 5px 10px;
                    }
                    .custom-radio-group {
                        display: flex;
                        .btn {
                            border-radius: 0;
                            border: solid 1px red;
                            color: black;
                            background: #fff;
                        }
                        .btn-primary.active {
                            background: red;
                            color: #fff;
                        }
                        .btn-primary:focus, .btn:focus, .btn-primary.focus {
                            box-shadow: 0 0 0 0 !important;
                        }
                        .focus {
                            box-shadow: 0 !important;
                        }
                    }
                }
            }
            .title-container {
                margin-bottom: 2em;
                .custom-section-title, .custom-section-subtitle {
                    text-align: center;
                }
                .custom-section-title {
                    font-family: 'Playfair Display', serif;
                    font-weight: bold;
                    font-style: italic;
                    font-size: 34px;
                }
                .custom-section-subtitle {
                    text-transform: uppercase;
                    font-size: 13px;
                    display: block;
                }
            }
            .accept-conditions {
                .btn-container{
                    text-align: center;
                    padding: 1.5em 0;
                    .btn-send {
                        background: #fff;
                        border: solid 1px red;
                        padding: .3em 2em;
                    }
                }
            }
        }
    }
}