div.section-car
    h1.section-car-title Cotizador
    h2.section-car-subtitle
        span Citadino, Aventurero, Deportivo
    p.section-car-subtitle-2 Elige el tuyo
    div.secrion-car-box
        img(src="images/car.png").section-car-image