header
    nav(class="navigation")
        ul
            li Modelos
            li Prueba de manejo
            li Cotizar
            li Promociones
            li Distribuidoress3
div(class="alert alert-primary") This is a primary alert—check it out!