header
    div.header-mobile
        div.logo
            img(src="images/logo.png", alt="")
        div.hamburger#btnHamburger
            span.line
            span.line
            span.line
        ul.navHeader
            li 
                a(href="#modelos") Modelos
            li 
                a(href="#prueba-manejo") Prueba de manejo
            li 
                a(href="#cotizar") Cotizar
            li 
                a(href="#promociones") Promociones
    nav(class="navigation")
        ul.menu-list#navbarMenu
            li 
                a(href="#modelos") Modelos
            li 
                a(href="#prueba-manejo") Prueba de manejo
            li 
                a(href="#cotizar") Cotizar
            li 
                a(href="#promociones") Promociones
            li 
                a(href="#distribuidores") Distribuidores