$primary-color: #fff;
$hamburger: #cd3c33;
header {
    background-color: $primary-color;
    .header-mobile {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            padding-top: 43px;
        }
        .hamburger{
            margin-right: 1.55em;
            cursor: pointer;
            .line{
                width: 18px;
                height: 3px;
                // background-color: #EB4748;
                background-color: $hamburger;                
                margin: 3px 0;
                display: block;
            }
        }
        .navHeader {
            display: none;
        }
    }
    .navigation {
        background: $primary-color;
        .menu-list {
            height: 0;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transition: height .3s ease;
            li {
                padding: 1em;
            }
        }
        .menu-list--show {
            padding: 1em 0 0 0;
            height: 20em;
        }
    }
}

@media (min-width:768px) {
    header {
        .header-mobile {
            justify-content: space-between;
            .hamburger {
                order: 2;
                margin-right: 1em;
            }
            .navHeader {
                order: 1;
                display: flex;
                li > a {
                    font-size: 12px;
                    padding: 0 2em;
                    letter-spacing: 1.5px;
                }
            }
        }
    }
}

@media (min-width:1024px) {
    header {
        background: red;
    }
}