@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i|Playfair+Display:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900i');
body {
    background: gray;
    font-family: 'Loto Regular';
    // overflow: hidden;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
    color: black;
}

li > a {
    text-transform: uppercase;
    font-weight: bold;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

.app {
    padding-bottom: 5em;
    background-image: -webkit-linear-gradient(90deg, red 50%, #4957d1 50%);
}
@import 'components/header/header';
@import 'components/form/form';
@import 'components/car/car';
