@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i|Playfair+Display:400,400i,700,700i,900,900i');

body {
    background: blue;
    font-family: 'Loto Regular';
    // overflow: hidden;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
    color: black;
}

li > a {
    text-transform: uppercase;
    font-weight: bold;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}
@import 'components/header/header';
@import 'components/form/form';